*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #6d6E71;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

header {
  background-color: #E5F3F2;
  height: 38vh;
  padding-top: 20px;
  text-align: center;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  margin: 0px 0px 30px 0px;
}

input {
  color: #6d6E71;
  display: block;
  font-size: 20px;
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: #00A79D;
  border: none;
  color: #FFF;
  font-size: 16px;
  height: 30px;
  margin: 0px;
  width: 100%;
}

button:hover {
  background-color: #045E55;
}

.card-container,
.input-container {
  width: 50vw;
  margin: 0px auto;
}

.search-input {
  margin: 30px auto;
  width: 50vw;
}

/*Card*/

h3 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  margin: 10px 0px;
}

h5 {
  display: inline-block;
  margin: 15px 0px;
}

p {
  margin-bottom: 10px;
}

span {
  color: #6D6E71;
}

.idea-card {
  border-bottom: 2px solid #D1D3D4;
  width: 100%;
}

.card-btns {
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.delete-btn {
  background-image: url("Assets/delete.svg");
  float: right;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: inherit;
  background-image: url("Assets/delete-hover.svg");
}

.up-vote {
  background-image: url("Assets/upvote.svg");
  margin-right: 15px;
}

.up-vote:hover {
  background-image: url("Assets/upvote-hover.svg");
}

.down-vote {
  background-image: url("Assets/downvote.svg");
  margin-right: 15px;
}

.down-vote:hover {
  background-image: url("Assets/downvote-hover.svg");
}

.delete-btn:hover,
.up-vote:hover,
.down-vote:hover {
  background-color: inherit;
}

@media screen and (max-width: 720px) {

  .search-input,
  .card-container,
  .input-container {
    width: 60vw;
  }
}

@media screen and (max-width: 620px) {

  .search-input,
  .card-container,
  .input-container {
    width: 70vw;
  }

}
